
/* COLORS */
*{
    --yellowcolor: #fbf8cc;
    --creaamcolor: #fde4cf;
    --orangecolor: #ffcfd2;
    --pinkcolor: #f1c0e8;
    --purplecolor: #cfbaf0;
    --strongpurplecolor: #a3c4f3;
    --bluecolor: #90dbf4;
    --lightbluecolor: #8eecf5;
    --ciancolor: #98f5e1;
    --greencolor: #b9fbc0;
    --textcolor: #000000;
}
